@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

body {
	font-family: 'Raleway', sans-serif;
}

::selection{
	background: rgb(59, 59, 59, 0.8);
	color: #FFF;
}

*, *::before, *::after {
    transition: all .3s ease-in-out;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.space-one {
	padding-top: 3em;
	padding-bottom: 3em;
}

.space-two {
	padding-top: 2em;
	padding-bottom: 2em;
}

.bg {
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 0;
}

.navbar-light {
  	background: transparent !important;
  	position: absolute;
  	top: 20px;
  	left: 0;
  	right: 0;
  	z-index: 3;
}

.navbar-brand {
  	display: inline-block;
  	padding-top: 0.3125rem;
  	padding-bottom: 0.3125rem;
  	margin-right: 1rem;
	width: 8em;
	font-size: 1.5em;
	letter-spacing: 0.1em;
}

.navbar-brand img {
	width: 100%;
}

.nav-item {
	padding: 0px 5px;
	font-weight: 500;
}

#overlay-nav {
  width: 100%;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgb(29, 29, 29);
  background: rgba(29, 29, 29, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.35s, visibility 0.35s, height 0.6s ease;
  transition: opacity 0.35s, visibility 0.35s, height 0.6s ease;
}

#overlay-nav.active {
  width: 100%;
  height: 100%;
  opacity: 100;
  visibility: visible;
}

#nav-content {
  position: relative;
  z-index: 999;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#nav-content ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
}

#nav-content ul li a {
  width: 100%;
  padding: 2% 0;
  display: block;
  font-weight: 100;
  font-size: 1.5em;
  letter-spacing: 0.6px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

#nav-content ul li a:hover {
  background: rgb(20, 20, 20);
}

#top, #middle, #bottom {
  width: 100%;
  height: 4px;
  background: rgb(255, 255, 255);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

#middle {
  margin: 4px 0;
}

.home-slider {
	position: relative;
	height: auto;
	z-index: 0;
}

.slider-text {
	padding-top: 10em;
	padding-bottom: 10em;
	color: #FFF;
	margin: 0;
}

.btn-slide {
	color: #FFF;
	border:2px solid #3B3B3B;
	padding: 15px 25px;
	background: none;
	border-radius: 0px;
}

.btn-slide:hover {
	background: #3B3B3B;
}

.home-slider hr {
	border:2px solid #3B3B3B;
	width: 5em;
	margin: 0;
	margin-bottom: 30px;
}

h1 {
	font-size: 4em;
	font-weight: bolder;
	line-height: 1.2;
    color: #5B5B5B;
	margin-bottom: 30px;
}

.quadros {
	margin-top: -70px;
	background: #0F0F0F;
	background-image: linear-gradient(#000, #0F0F0F);
	width: 100%;
	height: auto;
}

.card {
	background: #1B1B1B;
	padding: 50px 12px;
	margin-bottom: 2em;
	border-radius: 0px;
}

.card:hover {
	background: #3B3B3B;
}

.card i {
    padding-bottom: 50px;
    color: #3B3B3B;
    margin-left: 0;
    font-size: 50px;
    line-height: 1;
}

.card:hover i {
    color: #FFF;
}

.card p {
	color: white;
}

h6 {
	color: white;
	font-size: 1.3em;
}

.card hr {
	border: 1px solid #3B3B3B;
	width: 2em;
	margin: 10px 0px;
}

.card:hover .icon:before {
	color: #FFF;
}

.card:hover hr {
	border: 1px solid #FFF;
}

.servicos {
	width: 100%;
	height: auto;
	background: #0F0F0F;
	background-image: linear-gradient(#0F0F0F, #1B1B1B);
}

.servicos a {
    text-decoration: none;
}

hr {
	border:2px solid #3B3B3B;
	width: 3em;
	margin: 0;
	margin-bottom: 20px;
}

h2 {
	font-size: 2.5em;
	font-weight: bolder;
	line-height: 1.2;
	color: white;
}

.title p {
	color: #BEBEBE;
	font-weight: 500;
}

.serv {
	background: none;
	border: 1px solid #3B3B3B;
	padding: 25px 30px 30px 30px;
	margin: 20px 0px;
	color: white;
}

.serv:hover {
	background: #3B3B3B;
	cursor: pointer;
}

h5 {
    margin: 0;
    line-height: 1.5;
	font-size: 1em;
	font-weight: 500;
}

.solucion {
	width: 100%;
	background: #1B1B1B;
	background-image: linear-gradient(#1B1B1B, #0F0F0F);
}

.desc {
    color: white;
    line-height: 2;
    font-weight: 400;
    padding: 0.5em 0em;   
}

.desc strong {
    font-weight: 400;
    padding-bottom: 3px;
    border-bottom: 1px solid #3b3b3b;
    padding-bottom: 5px;
}

.solucion i {
    color: #BEBEBE;
    font-size: 3em;
    margin-top: -20px;
}

.floating-arrow {
  -webkit-animation-name: floating-arrow;
          animation-name: floating-arrow;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translate(1%, 0);
            transform: translate(1%, 0); }
  50% {
    -webkit-transform: translate(1%, 20px);
            transform: translate(1%, 20px); }
  to {
    -webkit-transform: translate(1%, 0);
            transform: translate(1%, 0); }
}

@keyframes floating-arrow {
  from {
    -webkit-transform: translate(1%, 0);
            transform: translate(1%, 0); }
  50% {
    -webkit-transform: translate(1%, 20px);
            transform: translate(1%, 20px); }
  to {
    -webkit-transform: translate(1%, 0);
            transform: translate(1%, 0); }
}

.orcamento {
	width: 100%;
	background: #0F0F0F;
}

.orcamento hr, .solucion hr {
	margin: auto;
	margin-bottom: 1em;
}

#contact
{
  padding:10px 0 10px;
}

.contact-text
{
  margin:45px auto;
}

.mail-message-area
{
  width:100%;
  padding:0 15px;
}

.mail-message
{
  width: 100%;
  background:rgba(255,255,255, 0.8) !important;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
  margin:0 auto;
  border-radius: 0;
}

.not-visible-message
{
  height:0px;
  opacity: 0;
}

.visible-message
{
  height:auto;
  opacity: 1;
  margin:25px auto 0;
}

.form
{
  width: 100%;
  padding: 15px;
  background:#0F0F0F;
  border:1px solid rgba(0, 0, 0, 0.075);
  margin-bottom:25px;
  color:#727272 !important;
  font-size:13px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  border:2px solid #3B3B3B;
}

.form:focus
{
  color: white;
  outline: none;
  background: #FFF;
}

input
{
  position: relative;
}

.textarea
{
  height: 126px;
  max-height: 126px;
  max-width: 100%;
}

.modal-footer .form-btn
{
  width: 100%;
}

.form-btn
{
  width:60%;
  display: block;
  height: auto;
  padding:15px;
  color:#fff;
  background:#3B3B3B;
  border:none;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin:auto;
}

.form-btn:hover
{
  background:#212121;
  color: white;
  border:none;
  cursor: pointer;
}

.form-btn:active
{
  opacity: 0.9;
}

@media (max-width: 768px) {
	.form-btn {
		width: 100%;
	}
}

.contatos {
	width: 100%;
	height: auto;
	background: #1B1B1B;
}

.ct a {
	color: #FFF;
	line-height: 2;
	font-weight: 500;
}

.ct span {
	color: #BEBEBE;
}

footer {
    background: #000;
    text-align: center;
    font-weight: 500;
    color: #5B5B5B;
    padding: 1.2em 0em 0.3em 0em;
}

footer a, footer a:hover, span {
	color: #FFF;
}

.scrollToTop {
	width: 65px;
	height:auto;
	padding: 15px;
	text-align: center;
	background-color: rgb(59, 59, 59, 0.68);
	position: fixed;
	right: 0;
	bottom: 70px;
	z-index: 999;
	transform: translate(80px,0);
  
	-webkit-transition: .2s ease;
	-moz-transition: .2s ease;
	-o-transition: .2s ease;
	transition: .2s ease;
	cursor:pointer;
}

.scrollToTop span {
	color: #fff;
	font-size: 0.8em;
}

#preloader
{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: #1B1B1B;
    height: 100%;
    z-index:9999;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.spinner{
    width: 80px;
    height: 80px;
    
    border: 2px solid #f3f3f3;
    border-top:3px solid #5B5B5B;
    border-radius: 100%;
    
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}